body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 50px;
    overflow: hidden;
    /* Oyunun sınırları içinde kalmasını sağlar */
}

#game-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 720px;
    background-color: black;
    overflow: hidden;

}

.pipe {
    position: absolute;
    width: 60px;
    /* Engellerin genişliği */
    height: 300px;
    /* Engellerin yüksekliği */
    background-color: RED;
    bottom: 0;
}

#flyBtn {
    position: absolute;
    left: 300px;
    bottom: 0;
    transition: bottom 0.5s ease;
    -webkit-transition: bottom 0.5s ease;
    -moz-transition: bottom 0.5s ease;
    -ms-transition: bottom 0.5s ease;
    -o-transition: bottom 0.5s ease;
    bottom: 200px;

}

#flyBtn i {
    font-size: 50px;
    color: white;
}

#flyBtn:hover {
    cursor: pointer;
}